.Resume {
    text-align: center;
    background-color: #7C616C;
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
}

.Resume-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #E5E9EC;
}
