.NavBar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: #e5e9ec;
  font-size: 15px;
  margin-bottom: 45px;
  padding: 30px 0;
}

.NavBar-link {
  margin: 20px;
  color: #eafdf8;
}

.NavBar-link:visited {
  color: #eafdf8;
}

.NavBar-logo:visited {
  color: #eafdf8;
}

.NavBar-logo:hover {
  font-weight: 100;
}

.NavBar-hamburger {
  display: none;
}

@media screen and (max-width: 600px) {
  .NavBar {
    padding: 10px 0;
  }

  .NavBar-hamburger {
    display: block;
  }
  .NavBar-content {
    display: none;
    width: 100px;
    position: absolute;
    margin: 0 0 0 -70px;
  }

  .NavBar-nav:hover .NavBar-content {
    display: block;
  }

  .NavBar-nav:active .NavBar-content {
    display: block;
  }

  .NavBar-nav:focus .NavBar-content {
    display: block;
  }
}