.Landing {
  text-align: center;
  background-color: #7C616C;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
}

.Landing-header {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E5E9EC;
}

/* .Landing-content {
    
} */

.Landing-logo {
  height: 40vmin;
  pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
  .Landing-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}